---
import CardContacto from "./CardContacto.astro";
import WhatsApp from "./Redes/WhatsApp.astro";
import Horarios from "./Redes/Horarios.astro";
import Telefono from "./Redes/Telefono.astro";
import Email from "./Redes/Email.astro";
---

<div class="flex flex-col gap-4 mb-2 mx-auto w-full max-w-[800px]">
        <div class="flex flex-col md:flex-row items-center md:items-normal gap-4">
          <CardContacto
            icono={Email}
            titulo="E-mail"
            descripcion="soporte@prodrive.com.ar"
          />
          <CardContacto
            icono={Telefono}
            titulo="Teléfono"
            descripcion="2197-3871"
          />
        </div>
        <div class="flex flex-col md:flex-row items-center md:items-normal gap-4">
          <CardContacto
            icono={WhatsApp}
            titulo="WhatsApp Soporte"
            descripcion="+54 9 11 2171 5162"
          />
          <CardContacto
            icono={Horarios}
            titulo="Horarios de atención"
            descripcion="Lunes a Viernes de 9 a 16hs"
          />
        </div>
      </div>