---
import Instagram from "../../FooterIcons/Instagram.astro";
import TikTok from "./Redes/TikTok.astro";
import YouTube from "../../FooterIcons/YouTube.astro";
---

<ul class="flex w-full gap-3 justify-center">
  <li>
    <a
      href=""
      class="flex p-3 text-white bg-acento hover:bg-acentoHover rounded-full"
      ><Instagram /></a>
  </li>
  <li>
    <a
      href=""
      class="flex p-3 text-white bg-acento hover:bg-acentoHover rounded-full"
      ><YouTube /></a>
  </li>
  <li>
    <a
      href=""
      class="flex p-3 group bg-acento hover:bg-acentoHover fill-white stroke-white rounded-full"
      ><TikTok /></a>
  </li>
</ul>
