---
import bgContact from "../../assets/images/bg-contact.png";
---

<section class="banner h-150 pt-[70px] w-full bg-center bg-size-[45%] bg-no-repeat" style={`background-image: url(${bgContact.src})`}>
    <div class="contenedor flex flex-col justify-center items-center h-full text-center gap-2">
        <h1 class="text-4xl md:text-5xl">Nuestra historia</h1>
         <p class="text-lg md:text-xl max-w-[900px]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo voluptatum magni facilis sed possimus exercitationem ex tempora rem similique incidunt quisquam quaerat id quis, consequuntur non, impedit eos sapiente voluptate?</p>
    </div>
</section>

<style>
    .banner::before{
        position: absolute;
        content: "";
        width: 100%;
        height: calc(100% - 70px);
        top: 0;
        z-index: -1;
        background: radial-gradient(ellipse at 0% 80%, transparent 70%, #07304A 120%),radial-gradient(ellipse at 0% 30%, #07304A 0%, transparent 40%);
    }
</style>