---
import CardNumeraciones from "../CardNumeraciones.astro";
import { Image } from "astro:assets";
---

<div class="servicios-content contenedor text-left flex flex-col gap-12">
  <div class="flex flex-col">
    
    
    
    <div id="branding" class="seccion-contenido flex flex-col w-full gap-4 pt-18 md:pt-22 pb-12">
      <div class="flex flex-col">
        <h3 class="text-3xl">Branding</h3>
        <p class="text-lg">
          Lo ayudamos a construir su marca, teniendo en cuenta el desarrollo,
          atributos y valores, con la cual será identificada por el público
        </p>
      </div>
      <div class="flex flex-col lg:flex-row gap-4 items-stretch">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 lg:grid-rows-2 gap-4 w-full"
        >
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <h4 class="text-xl">¿Por qué es importante?</h4>
            <p>
              Su marca será el sello, el símbolo que identificará su
              organización, dándole una imágen válida y confiable a su producto
              o servicio, permitiendo ser diferenciado de la competencia.
            </p>
          </div>
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <h4 class="text-xl">¿Qué impacto tiene el branding?</h4>
            <p>
              Un branding define la <b>identidad</b> de una marca, tratando no solo
              del diseño o de colores, sino del reconocimiento mismo de los consumidores
              para poder diferenciarlos de la competencia de manera efectiva y concisa.
            </p>
          </div>
        </div>
        <div
          class="flex overflow-hidden rounded-2xl max-h-50 min-w-1/3 lg:max-h-full"
        >
          <Image
            src=`/branding-marca.jpg`
            alt=`Imagen de Branding`
            width={500}
            height={500}
            class="object-cover w-full h-full max-h-50 lg:max-h-full"
            loading="eager"
            decoding="async"
            format="webp"
          />
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 lg:grid-rows-2 gap-4 w-full"
        >
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <h4 class="text-xl">Se trabaja sobre enfoques como:</h4>
            <ul class="list-disc pl-4">
              <li>Elaboración de un Plan de Marketing.</li>
              <li>
                Resaltar los valores de la marca, generando credibilidad y
                confianza.
              </li>
              <li>Fortalecer la identidad de los productos o servicios.</li>
              <li>Diferenciación de la Competencia.</li>
            </ul>
          </div>

          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <h4 class="text-xl">
              ¿Qué es lo que se busca con generar "identidad"?
            </h4>
            <p>
              Establecer una conexión emocional con los consumidores, dar
              significado y valor a la marca a través de la experiencia visual
              que tenga el usuario con ella.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div
      id="comunicacion-estrategica"
      class="seccion-contenido flex gap-6 flex-col md:flex-row items-stretch pt-18 md:pt-22 pb-12"
    >
      <div class="flex flex-col gap-4 lg:w-3/5">
        <div class="flex flex-col">
          <h3 class="text-3xl">Comunicación Estratégica</h3>
          <p class="text-lg">
            Ideamos una estrategia que busque generar una imagen positiva en
            quien participe de las acciones de su empresa
          </p>
          <div
            class="lg:hidden flex overflow-hidden rounded-2xl mt-4 lg:w-2/5 max-h-64"
          >
            <Image
              src=`/comunicacion-estrategica.jpeg`
              alt=`Imagen de Comunicación Estratégica Mobile`
              width={500}
              height={500}
              class="object-cover w-full h-full max-h-64"
              loading="eager"
              decoding="async"
              format="webp"
            />
          </div>
        </div>
        <div class="flex flex-col md:grid md:grid-cols-2 gap-4 w-full">
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <p>
              La comunicación estratégica es un proceso planificado que busca
              influir en la percepción y comportamiento de audiencias
              específicas para alcanzar objetivos organizacionales.
            </p>
          </div>
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <p>
              Se busca mejorar los vínculos en el entorno social, económico y
              político de una empresa, logrando una relación armoniosa y
              positiva.
            </p>
          </div>
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <p>
              Toda organización necesita de una persona que, mediante
              estrategias, logre que la comunicación interna y externa del lugar
              al que representa se mantenga de una manera que beneficie a todas
              las partes.
            </p>
          </div>
          <div
            class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
          >
            <p>
              La formación que brindamos permite una participación activa dentro
              de organización, contribuyendo a solucionar los problemas, a
              gestionar cambios y a diseñar planes estratégicos de comunicación.
            </p>
          </div>
        </div>
      </div>
      <div class="hidden lg:flex overflow-hidden rounded-2xl lg:w-2/5">
        <Image
          src=`/comunicacion-estrategica.jpeg`
          alt=`Imagen de Comunicación Estratégica`
          width={500}
          height={500}
          class="object-cover w-full h-full"
          loading="eager"
          decoding="async"
          format="webp"
        />
      </div>
    </div>
    
    
    
    
    <div
      id="diseno-web"
      class="seccion-contenido flex gap-6 flex-col md:flex-row items-stretch pt-18 md:pt-22 pb-12"
    >
      <div class="hidden lg:flex overflow-hidden rounded-2xl lg:w-2/5">
        <Image
          src=`/webdiseno.jpg`
          alt=`Imagen de Diseño Web`
          width={500}
          height={500}
          class="object-cover w-full h-full"
          loading="eager"
          decoding="async"
          format="webp"
        />
      </div>
      <div class="flex flex-col gap-4 lg:w-3/5">
        <div class="flex flex-col">
          <h3 class="text-3xl">Diseño Web</h3>
          <p class="text-lg">
            Generamos su sitio web para tener mayor presencia online, teniendo
            en cuenta su público objetivo y las necedidades que su empresa
            necesita cubrir.
          </p>
          <div
            class="lg:hidden flex overflow-hidden rounded-2xl mt-4 lg:w-2/5 max-h-64"
          >
            <Image
              src=`/webdiseno.jpg`
              alt=`Imagen de Diseño Web Mobile`
              width={500}
              height={500}
              class="object-cover w-full h-full max-h-64"
              loading="eager"
              decoding="async"
              format="webp"
            />
          </div>
        </div>
        <p class="mt-2">
          Tener una página web es una herramienta fundamental para poder
          presentar a una empresa de manera efectiva en el entorno digital. En
          combinación con el branding, son herramientas poderosas que transmiten
          lo que la marca representa y también ayudan aumentar su visibilidad
          ante su público objetivo.
        </p>
        <p class="mt-2">Como es nuestro proceso:</p>
        <div class="overflow-x-auto md:mx-0 md:px-0 scrollbar-hide">
          <div
            class="flex w-full md:grid md:grid-cols-2 gap-x-4 gap-y-8 md:overflow-hidden overflow-y-hidden"
          >
            <CardNumeraciones
              numero="1"
              titulo="Primer reunión"
              descripcion="En esta reunión se recopila toda la información necesaria sobre la empresa, sus objetivos, público objetivo y preferencias de diseño."
            />
            <CardNumeraciones
              numero="2"
              titulo="Diseño y desarrollo"
              descripcion="Se crea un diseño preliminar del sitio web para su revisión y aprobación, luego se procede al desarrollo técnico del sitio."
            />
            <CardNumeraciones
              numero="3"
              titulo="Revisión y feedback"
              descripcion="Se presenta el sitio web desarrollado para recibir comentarios y realizar ajustes según sea necesario."
            />
            <CardNumeraciones
              numero="4"
              titulo="Ajustes y Lanzamiento"
              descripcion="Hacemos los ajustes finales, realizamos las últimas pruebas y publicamos tu web."
            />
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
