---
import CardNumeraciones from "../CardNumeraciones.astro";
import { Image } from "astro:assets";

import kaizenMobileImg from "../../../assets/images/kaizen-mobile.webp";
import imagenContableImg from "../../../assets/images/imagen-contable.webp";
import capacitacionesImagenImg from "../../../assets/images/capacitaciones-imagen.webp";
---

<div class="servicios-content contenedor text-left flex flex-col">
  <div class="flex flex-col">
    
    
    
    <div id="kaizen-y-5s" class="seccion-contenido flex flex-col w-full gap-4 pt-22 ">
      <div class="flex flex-col">
        <h3 class="text-3xl">Kaizen y 5S: Mejora continua</h3>
        <p class="text-lg">
          Convierta su empresa en un espacio más productivo y competitivo
        </p>
      </div>
      <div class="flex flex-col md:flex-row gap-4 w-full">
        <div
          class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
        >
          <h4 class="text-xl">¿Qué hacemos?</h4>
          <ul class="list-disc pl-4">
            <li>
              Implementamos Kaizen para mejorar procesos y fomentar la
              participación del equipo.
            </li>
            <li>
              Aplicamos 5S para organizar, estandarizar y mantener el lugar de
              trabajo seguro y eficiente.
            </li>
          </ul>
        </div>
        <div
          class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
        >
          <h4 class="text-xl">Beneficios clave</h4>
          <ul class="list-disc pl-4">
            <li>Procesos más ágiles y eficientes.</li>
            <li>Reducción de desperdicios y costos.</li>
            <li>Mayor seguridad y orden en el trabajo.</li>
            <li>Mejor calidad en productos y servicios.</li>
          </ul>
        </div>
        <div
          class="flex flex-col p-6 gap-1 bg-[#1E1C2C] w-full rounded-2xl brillo-hover"
        >
          <h4 class="text-xl">Nuestro servicio incluye:</h4>
          <ul class="list-disc pl-4">
            <li>Diagnóstico inicial.</li>
            <li>Implementación de mejoras y 5S.</li>
            <li>Seguimiento y ajustes continuos.</li>
          </ul>
        </div>
      </div>
      <div class="flex overflow-hidden rounded-2xl max-h-96">
        <Image
          src={kaizenMobileImg}
          alt=`Imagen de Kaizen`
          width={1500}
          height={1500}
          class="object-cover w-full h-full max-h-96"
          loading="eager"
          decoding="async"
          format="webp"
        />
      </div>
    </div>
    <a href="" class="mt-6 mb-12 inline-block px-8 py-3 bg-acento text-white rounded-full hover:bg-acentoHover md:text-lg max-w-max mx-auto text-center">Solicitar Kaizen y 5S: Mejora continua</a>
    
    
    
    
    <div
      id="asesoramiento-contable-y-administrativo"
      class="seccion-contenido flex flex-col md:flex-row md:items-center gap-4 pt-18 md:pt-22 "
    >
      <div
        class="flex overflow-hidden order-2 md:order-1 w-full md:w-2/5 rounded-2xl h-64"
      >
        <Image
          src={imagenContableImg}
          alt=`Imagen de Kaizen`
          width={1500}
          height={1500}
          class="object-cover w-full h-64"
          loading="eager"
          decoding="async"
          format="webp"
        />
      </div>
      <div class="flex flex-col order-1 md:order-2 w-full md:w-3/5 gap-1">
        <h3 class="text-3xl">Asesoramiento Contable y Administrativo</h3>
        <p class="text-lg">
          Nuestros colaboradores en las distintas áreas podrán evaluar cada uno
          de los requerimientos y brindarle una solución acorde a su negocio y
          necesidades de desarrollo, en relación a temas contables y
          administrativos en general.
        </p>
      </div>
    </div>
    <a href="" class="mt-6 mb-12 inline-block px-8 py-3 bg-acento text-white rounded-full hover:bg-acentoHover md:text-lg max-w-max mx-auto text-center">Solicitar Asesoramiento Contable y Administrativo</a>
    
    
    
    
    <div id="capacitaciones" class="seccion-contenido flex flex-col gap-4 pt-18 md:pt-22 ">
      <div class="flex flex-col w-full gap-1">
        <h3 class="text-3xl">Capacitaciones</h3>
        <p class="text-lg">
          Con las capacitaciones, se adquieren nuevos conocimientos y
          especializaciones, logrando un aumento sustancial en la productividad
          del trabajador.
        </p>
      </div>
      <div class="flex overflow-hidden w-full rounded-2xl max-h-96">
        <Image
          src={capacitacionesImagenImg}
          alt=`Imagen de Capacitaciones`
          width={1500}
          height={1500}
          class="object-cover w-full max-h-96"
          loading="eager"
          decoding="async"
          format="webp"
        />
      </div>
      <div class="overflow-x-auto md:mx-0 md:px-0 scrollbar-hide">
        <div
          class="flex w-full md:grid md:grid-cols-2 gap-x-4 gap-y-8 mt-6 overflow-y-hidden md:overflow-hidden"
        >
          <CardNumeraciones
            numero="1"
            titulo="Habilidades gerenciales"
            descripcion="Esta es una de las capacitaciones más importantes, pues tiene por objetivo mejorar el trabajo en equipo."
          />
          <CardNumeraciones
            numero="2"
            titulo="Gestión de procesos y mejora continua"
            descripcion="Toda organización tiene procesos de operaciones. Entonces tener colaboradores capacitados para incrementar y mejorar los procesos en distintas áreas y organización es fundamental para cualquier organización que quiere prevalecer en el tiempo."
          />
          <CardNumeraciones
            numero="3"
            titulo="Seguridad y Salud ocupacional"
            descripcion="Los índices de siniestralidad se han incrementado y ni siquiera en la parte industrial, sino la administrativa. Los colaborares deberían estar capacitados en temas de ergonomía, en oficinas e industriales."
          />
          <CardNumeraciones
            numero="4"
            titulo="Gestión ambiental"
            descripcion="Toda empresa impacta en el medio ambiente, por ello la empresa necesita colaboradores especializados en estos temas"
          />
          <CardNumeraciones
            numero="5"
            titulo="Continuidad de negocios"
            descripcion="Las empresas deben asegurar que sus cadenas de suministro continúen operando bajo cualquier circunstancia."
          />
          <CardNumeraciones
            numero="6"
            titulo="Coaching"
            descripcion=" Capacitación aplicada a la optimización del empleado dentro de la empresa."
          />
          <CardNumeraciones
            numero="7"
            titulo="Kaizen y 5S"
            descripcion="Capacitación en la implementación de esta disciplina en el ámbito administrativo, de gestión e industrial."
          />
          <CardNumeraciones
            numero="8"
            titulo="Capacitación técnica"
            descripcion="Capacitación para los empleados que requieren tener un conocimiento técnico sobre las tecnologías utilizadas en la organización."
          />
        </div>
      </div>
    </div>
    <a href="" class="mt-6 mb-12 inline-block px-8 py-3 bg-acento text-white rounded-full hover:bg-acentoHover md:text-lg max-w-max mx-auto text-center">Solicitar Capacitaciones</a>



  </div>
</div>
