@import "tailwindcss";

@theme {
  --color-acento: #3452EB;
  --color-acentoHover: #2c47cc;
  --color-hover: #E5E5E5;
}

@font-face {
  font-family: 'GuarujaGrotesk';
  src: url('/src/assets/fonts/GuarujaGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandis';
  src: url('/src/assets/fonts/Grandis-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-title {
  font-family: "GuarujaGrotesk", sans-serif;
  -webkit-text-stroke: 0.3px;
}

.font-body {
  font-family: "Grandis", sans-serif;
}


html {
  font-family: 'Grandis', sans-serif;
  font-size: 16px;
  color: #fff;
  scroll-padding-top: 80px;
}

.contenedor {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GuarujaGrotesk', sans-serif;
  -webkit-text-stroke: 0.5px;
}

p,
li,
span,
a,
button,
input,
textarea {
  font-family: 'Grandis', sans-serif;
}

a,
svg,
path {
  transition: all .3s ease-in-out;
}

@media (min-width: 768px) {

  a[class*="bg-"]:not(.no-shine),
  button[class*="bg-"]:not(.no-shine) {
    position: relative;
    overflow: hidden;
  }

  a[class*="bg-"]:not(.no-shine)::before,
  button[class*="bg-"]:not(.no-shine)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 150px at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(255, 255, 255, 0.15) 0%,
        transparent 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  a[class*="bg-"]:not(.no-shine):hover::before,
  button[class*="bg-"]:not(.no-shine):hover::before {
    opacity: 1;
  }

  a[class*="bg-"]:not(.no-shine)>*,
  button[class*="bg-"]:not(.no-shine)>* {
    position: relative;
    z-index: 2;
  }

  .brillo-hover {
    position: relative;
    overflow: hidden;
  }

  .brillo-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 150px at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(255, 255, 255, 0.15) 0%,
        transparent 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  .brillo-hover:hover::before {
    opacity: 1;
  }

  .brillo-hover>* {
    position: relative;
    z-index: 2;
  }

}