---
import CardIndividualServicios from "./CardIndividualServicios.astro"
---

<section class="pb-32 pt-4">
    <div class="contenedor flex flex-col md:flex-row gap-4">
        <CardIndividualServicios titulo="Consultoría Integral en IT" slug="consultoria-integral-it" />
        <CardIndividualServicios titulo="Consultoría en Gestión" slug="consultoria-en-gestion"/>
        <CardIndividualServicios titulo="Desarrollo de estrategias" slug="desarrollo-de-estrategias"/>
    </div>
</section>