---
  import Formulario from './ContactoServicios/Formulario.astro';
---

<div class="mx-auto max-w-[1100px] py-32 px-5 text-center flex flex-col gap-4">
    <h2 class="text-3xl md:text-[42px] font-title">¿Quiere saber más acerca de nuestros servicios?</h2>
    <p class="mb-12 text-base md:text-lg max-w-2xl mx-auto">
      Envíenos un mensaje, un integrante de nuestro equipo se pondrá en contacto
      en la brevedad posible para brindarle asistencia.
    </p>
    <Formulario />
  </div>