---
import Formulario from "./Contacto/Formulario.astro";

import CardContainer from "./Contacto/CardContainer.astro"
import Redes from "./Contacto/Redes.astro";
---

<section id="contacto"
  class="pt-32 pb-40 bg-[url(/bg-contact.png)] bg-center bg-no-repeat bg-size-[1400px]"
>
  <div class="mx-auto max-w-[1100px] px-5 text-center flex flex-col gap-4">
    <h2 class="text-3xl md:text-[42px] font-title">Contactate con nuestro equipo</h2>
    <p class="mb-12 text-base md:text-lg max-w-2xl mx-auto">
      Envianos un mensaje, un integrante de nuestro equipo se pondrá en contacto
      en la brevedad posible para brindarle asistencia.
    </p>
    <Formulario />
    <div class="flex flex-col mt-16 gap-4">
      <h3 class="text-[1.7rem] md:text-4xl font-title mb-2 md:mb-6">Detalles de contacto</h3>
      <CardContainer />
      <Redes />
    </div>
  </div>
</section>
