---
import bgHero from "../../assets/images/bg-hero.png";
---

<section id="hero-banner" class="h-svh w-full bg-top-right bg-size-[45%] bg-no-repeat" style={`background-image: url(${bgHero.src});`}>
    <div class="contenedor flex flex-col justify-center items-center h-full text-center gap-2">
        <h1 class="text-[32px] max-md:leading-9 md:text-5xl">Soluciones Inform치ticas Integrales para tu Empresa</h1>
        <p class="text-lg md:text-xl max-w-[600px]">Acompa침amos a las PyMEs con soluciones tecnol칩gicas que hacen crecer su negocio.</p>
        <div class="flex gap-4 mt-8 justify-stretch w-full max-w-96">
            <a href="" class="bg-acento hover:bg-acentoHover w-full  py-2 rounded-full text-base md:text-lg">Hablemos</a>
            <a href="" class="border border-white w-full hover:bg-white hover:text-black  py-2 rounded-full text-base md:text-lg">Explora m치s</a>
        </div>
    </div>
</section>

<style>
    #hero-banner::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        background: radial-gradient(ellipse at 0% 80%, transparent 70%, #07304A 120%),radial-gradient(ellipse at 0% 30%, #07304A 0%, transparent 40%);
    }
</style>

<script is:inline>
const heroBanner = document.querySelector('#hero-banner');
if (heroBanner && window.gsap) {
    window.gsap.to(heroBanner, {
        opacity: 0,
        y: -100,
        scrollTrigger: {
            trigger: heroBanner,
            start: "top top",
            end: "bottom top",
            scrub: true
        }
    });
}
</script>
</style>